@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

 div {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color:white;
 }

 li, a, button {
   font-family: "Oxygen", sans-serif;
   font-weight: 600;
   font-size: 15px;
   color: #edf0f1;
   text-decoration: none;
 }

 header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px 5%;
 }

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a { 
  color: #5a5555;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover { 
  transition: all 0.3s ease 0s;
  color: #D70032;

  position: relative;
  animation: bubble 6s backwards;
  /*animation-iteration-count: 1;*/
}

@keyframes bubble {
  
  from {top: 0px;}
  to {top: -300px;}
}

button {
  padding: 1px 15px;
  color: #D70032;
  background: white;
  border: 1px solid #D70032;
}

button:hover {
  color: white;
  background-color: #D70032;
}