<div style="text-align: center; background-color: #D70032; color: white;">Bienvenue à nla banque de sang </div>
<div>
  <header>
    <img class="logo" src="../../../../assets/images/logo/blood-donor.png" width="90" height="80" alt="">
    <nav>
      <ul class="nav-links">
        <li><a href="">Acceuil</a></li>
        <li><a href="">Donner du sang</a></li>
        <li><a href="">Catalogue</a></li>
        <li><a href="">A propos</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
    <button mat-raised-button >Se connecter</button>
    </header>
</div>
