<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Aide</h4>
                <ul>
                    <li><a href="#">Catalogue</a></li>                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <ul>
                    <li>
                        <a href="#"><span><i class="fas fa-map-marker-alt"></i></span>
                            <span style="padding-left: 5px;">Forum de l’université, Béjaïa 06000, Algérie</span></a>
                        
                    </li>
                    <li><a href="#">
                        <span> <i class="fas fa-phone"></i></span>
                        <span style="padding-left: 5px;">+213 (0)792659646</span>
                    </a></li>
                    <li><a href="#">
                        <span> <i class="fas fa-envelope-open"></i></span>
                        <span style="padding-left: 5px; text-transform: lowercase;">contact.ready-donor@gmail.com</span>
                    </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Liens utiles</h4>
                <ul>
                    <li><a href="#">
                        <i class="fas fa-angle-right"></i>
                        <span style="padding-left: 5px;">Nous contacter</span> 
                    </a></li>

                    <li><a href="#">
                        <i class="fas fa-angle-right"></i>
                        <span style="padding-left: 5px;">À propos</span> 
                    </a></li>
                  
                </ul>
            </div>
            <div class="footer-col">
                <h4>Retrouvez-nous sur</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="red-line"></div>
        <div class="end-site">
            <div class="copyright">
                Copyrights© Ready Donor 2021.
            </div>
            <div class="powerd by">
                Powered By Ministère de la santé
            </div>
        </div>
    </div>
   
</footer>