@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

div, h1, h2, p {
    font-family: "Oxygen", sans-serif;
}

h1 {
    margin: 0px 0 0px;
}
.problems {
    background: #272C3F;
    margin-top: -5px;
    position: relative;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.problem-container {
    max-width: 520px;
    min-width: 520px;

}
.problems-left {
    padding-top: 126px;
}

.problems-right {
    display: flex;
    flex-direction: row;
    
}
.problem-description {
    color: #b0acac;
    font-size: 16px;
    line-height: 1.5;
}
.wave {
    margin-bottom: 100px;
    margin-top: -80px;
    padding: 86px;
    width: 100%;
    background: url("https://www.simplyblood.com/images/background/wave.svg")  no-repeat 0 bottom/contain;
}

.problem-icon {
    position: absolute;
    left: 50%;
    /*top: 150;*/
    display: block;
    width: 64px;
    height: 64px;
    padding: 15px;
    background-color: #272C3F;
    border: 2px solid #b0acac;
    border-radius: 50%;
}
.gray-line {
    
    height: 570px;
    width: 2px;


    position: absolute;
    left: 52.6%;
    
    display: block;
   
    
    background-color: #b0acac;
    
    
}

.problem-icon1{
    position: absolute;
    left: 51.8%;
    display: block;
    bottom: 0;    
    width: 20px;
    height: 20px;
    background-color: #b0acac;
    border-radius: 50%;
}

.red-line{
    margin-bottom: 40px;
}

.red-line {
    background-color: #D70032;
    border-radius: 5px;
    height: 2.5px;
    width: 65px;
}

.about-home {    
    margin-right: 0;
    float: right;
    display: block;
    width: 840px;
    height: 437px;
    background-color: #FF303F;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 300px;
    margin-bottom: 150px;
}

.problem-content {
    padding-top: 69px;
}

.problem-title {
margin: 0 0 5px;
}

.line-white{
    background-color: #fff;
    border-radius: 5px;
    height: 2.5px;
    width: 250px;
}

.section-about {
    padding-top: 80px;
    padding-left: 135px;
}

.about-content {
    /*text-align: justify;*/
    line-height: 26px;
}

button {
  padding: 1px 15px;
  color: #D70032;
  background: white;
  border: 1px solid #D70032;
}


/*ajout here*/

.grand-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    clear: both;
}

.maincontainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clear: both;
  position: relative;
  width: 250px;
  height: 320px;
  margin-bottom: 150px;
  /*background: green;*/
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  /*background: yellow;*/
}


.thecard:hover {
  transform: rotateY(180deg);
}


.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #272C3F;
  color: white;
  text-align: center;
  font-family: 'zilla slab', sans-serif;
  border-radius: 28px;
  font-size: 18px;
padding-top: 50%;
  font-weight: bold;

}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #272C3F;
  color: #333;
  transform: rotateY(180deg);
  text-align: center;
  font-family: 'zilla slab', sans-serif;
  border-radius: 28px;
  font-size: 18px;
  font-weight: bold;
} 