<div class="content-all">
    <div class="map">

    </div>

    <div class="problems">
        <div class="problems-left">
            <h1 class="problems-left-title">Problèmes</h1>
            <div class="red-line"></div>
            <h2 style="font-weight: 700; font-size: 44px;">Le don de sang en chiffres</h2>
        </div>

        <div class="problems-right">

            <div class="gray-line"></div>
            <div>
                <div class="problem-container">
                    <div class="problem-icon">
                        <img src="https://www.simplyblood.com/images/icons/problems/shortage.svg" width="30" height="30"
                            alt="">
                    </div>
                    <div class="problem-content">
                        <h2 class="problem-title">Pénurie</h2>
                        <p class="problem-description">
                            Seulement 1% des Algériens effectuent le geste de donner du sang,
                            ce qui est largement insuffisant pour couvrir les besoins nationaux.

                        </p>
                    </div>

                </div>
                <div class="problem-container">

                    <div class="problem-icon"><img src="https://www.simplyblood.com/images/icons/problems/wastage.svg"
                            width="30" height="30" alt=""></div>
                    <div class="problem-content">
                        <h2 class="problem-title">Gaspillage</h2>
                        <p class="problem-description">
                            Par les chiffres le don du sang fait ressortir un constat des plus troublants,
                            à savoir une surconsommation, un gaspillage,
                            des poches de sang qui sont laissés dans des services jusqu’à la péremption.
                        </p>
                    </div>
                </div>
                <div class="problem-container">
                    <div class="problem-icon"><img
                            src="https://www.simplyblood.com/images/icons/problems/waiting-time.svg" width="30"
                            height="30" alt=""></div>
                    <div class="problem-content">

                        <h2 class="problem-title">Temps d'attente</h2>
                        <p class="problem-description">
                            Il faut plus de 12 heures pour faire transfuser du sang après avoir
                            soulevé une demande de sang, car il faut beaucoup de temps à un chercheur de
                            sang pour trouver un donneur de sang approprié.
                        </p>
                    </div>
                </div>
                <div class="problem-container">
                    <div class="problem-icon1"><img src="" alt=""></div>
                    <h2 class="problem-title"></h2>
                    <p class="problem-description">

                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="wave">
    </div>
    <div class="about-home">
        <div class="section-about">
            <h1 class="about-title" style="color: white; font-weight:300;">Votre sang m'a sauvé la vie</h1>
            <div class="line-white"></div>
            <p class="about-content" style="color: white; font-size: 19px; font-weight:300; padding-top: 32px; padding-bottom: 17px;">
                La transfusion de sang et de produits sanguins aide à sauver des millions de vies chaque année. Elle
                peut aider à prolonger la vie de patients souffrant de maladies mortelles et à améliorer leur qualité
                de vie, et est utilisée lors d’actes médicaux et chirurgicaux complexes. Elle joue également un rôle
                essentiel et salvateur pour la santé de la mère et de l’enfant ainsi que lors des catastrophes naturelles
                et causées par l’homme.
            </p>
            <button mat-raised-button>Plus d'information</button>
        </div>
        
    </div>

    <div class="grand-container">
        <div class="maincontainer">
            <div class="thecard">
                
                <div class="thefront">
                    <img src="https://fr.freepik.com/vecteurs/infographie" width="150" height="150" alt="">
                    front of card</div>
                <div class="theback">back of card</div>
            </div>           
        </div>

        <div class="maincontainer">
            <div class="thecard">
                <div class="thefront">front of card</div>
                <div class="theback">back of card</div>
            </div>           
        </div>


        <div class="maincontainer">
            <div class="thecard">
                <div class="thefront">front of card</div>
                <div class="theback">back of card</div>
            </div>           
        </div>
    </div>
   
   


   
</div>










